/*********************************************************************

                                Navbar

**********************************************************************/
@import '../mixins.scss';

// Navbar settings
$navbar-font                         : "Open sans", Helvetica, Arial, sans-serif;
$navbar-font-weight                  : 300;
$navbar-font-transform               : uppercase;

$navbar-default-link-color           : #454545;
$navbar-default-link-hover-color     : #000;
$navbar-default-link-active-color    : #000;
$navbar-default-link-hover-bg        : #eee;
$navbar-default-link-hover-bg-sub    : #eee;
$navbar-default-link-active-bg       : #fff;
$navbar-default-toggle-border-color  : $color-default;
$navbar-default-toggle-hover-bg      : #fff;
$navbar-default-toggle-icon-bar-bg   : $color-contrast;
$navbar-default-border               : #ccc;
$navbar-default-bg                   : #fff;

$navbar-vivid-link-color             : lighten( #bd1550, 35% );
$navbar-vivid-link-hover-color       : #bd1550;

// Base class
.navbar {
    position: block;
    border-width: 1px 0;
    border-radius: 0;    
    width: 100%;
    padding: 0;
    background-color: white;
    z-index: 1000;
    &.stick {
        position: fixed;
        top: 0;
        left: 0;
        opacity: .9;
    }
}

.nav-container {
    border: 1px solid #ccc;
    padding: 15px 0;

}
.navbar-list {
    font-family: $navbar-font;
    font-weight: $navbar-font-weight;
    text-transform: $navbar-font-transform;
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
    >li {
        float: none;
        display: inline-block;
        > a {
            color: $navbar-default-link-color;
            padding: 18px 30px;
            &:hover {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                text-decoration: none;
                font-weight: 500;
                color: $navbar-default-link-active-color;
                background-color: $navbar-default-link-active-bg;
            }
        }
    }
}

// Default navbar
.navbar-default {
    background-color: $navbar-default-bg;
    border-color: $navbar-default-border;
    
    .navbar-toggle {
        border-color: $navbar-default-toggle-border-color;
        &:hover,
        &:focus {
            background-color: $navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: $navbar-default-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse,
    .navbar-form {
        border-color: $navbar-default-border;
    }
}

/****************************************************************************************


                                     Sidebar special Nav


*****************************************************************************************/
.nav-side {
    @include font-size(2.4);
    font-weight: 300;
    margin-top: -0.37em;
    > li {
        list-style-type: none;
        > a {
            cursor: pointer;            
            padding-top: 5px;
            padding-bottom: 5px;
            color: $navbar-vivid-link-color;
            text-decoration: none;
            &:hover{
                color: $navbar-vivid-link-hover-color;
                background: none;
            }
        }
    }
    >li.active > a {
        cursor: pointer;
        color: $navbar-vivid-link-hover-color;
        text-shadow: 1px 1px 3px maroon;
    }
}


